.DS_Store
=======
## Ignore Tutorial-specific output
climate/RCM/*.nc
*_cache
*_files
=======
.Rproj.user
=======
*.Rdata
*.Rproj
.DS_Store
.RHistory
===  Latex temp files
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.nav
*.snm
*.vrb